@font-face {
    font-family: "Noto Sans Khmer Regular";
    src: url("../assets/fonts/NotoSansKhmer-Regular.ttf");
}
@font-face {
    font-family: "Noto Sans Khmer Bold";
    src: url("../assets/fonts/NotoSansKhmer-Bold.ttf");
}