@font-face {
    font-family: "Noto Sans Khmer Regular";
    src: url("./fonts/NotoSansKhmer-Regular.ttf");
}
@font-face {
    font-family: "Noto Sans Khmer Bold";
    src: url("./fonts/NotoSansKhmer-Bold.ttf");
}