.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 64em;
    margin: 0 auto;
    padding: 2.5rem .75rem;

    background-color: var(--clr_grey_shade_e);
    /* background-color: var(--clr_primary_shade_a); */
    border-right: 1px solid var(--clr_grey_shade_d);
    /* outline: 1px solid red; */
}
[data-theme="dark"] .navbar {
    background-color: var(--clr_dark_shade_a);
    border-right-color: var(--clr_grey_shade_a);
}
.logo_container {
    padding: 0 .75rem;
}
[data-theme="dark"] .logo_container .logo {
    filter: saturate(0) var(--filter_clr_secondary);
}
.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2.5rem 0;
    width: 100%;
}

.nav .nav_link {
    font-size: var(--type_scale_2);
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* color: var(--clr_primary_shade_a); */
    color: var(--clr_dark_shade_a);
    
    padding: .5rem .75rem;
    border-radius: .5rem;

    transition: transform 200ms ease-out, border 50ms ease-in;
    border: 1px solid rgba(0,0,0,0);
}
[data-theme="dark"] .nav .nav_link {
    color: var(--clr_light);
}
.nav .nav_link:active {
    transform: translateY(0.125rem);
    border-color: transparent;
}
.nav .nav_link.active {
    box-shadow: var(--box_shadow_primary);
    border-color: transparent;
    background-color: #fff;
    color: var(--clr_primary_shade_a);
}
.nav .nav_link.active,
.nav .nav_link:hover,
.nav .nav_link:focus {
    text-decoration: none; /* override global <a> styling */
}
.nav .nav_link:hover {
    border-color: var(--clr_primary_shade_a);
}
[data-theme="dark"] .nav_link:hover {
    border-color: var(--clr_secondary);
}
[data-theme="dark"] .nav_link.active {
    color: unset;
    background-color: var(--clr_secondary);
    /* background-color: rgba(0, 149, 255, 0.325); */
}
.nav .nav_link:not(:last-of-type) {
    margin-bottom: .5rem;
}
.nav .nav_link .icon {
    margin-right: .75rem;
    width: 1rem;
    height: 1rem;
    filter: var(--filter_clr_gray_shade_a);
}
.nav .nav_link.active .icon {
    filter: var(--filter_clr_primary_shade_a);
}
[data-theme="dark"] .nav .nav_link .icon {
    filter: invert(0.92);
}