.settings_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    
    width: 100%;
    max-width: 40em;
}

.grid_item {
    padding: .75rem;
    font-size: var(--type_scale_2);
    border-radius: .5rem;
}

.grid_item .icon {
    width: 1.25rem; height: 1.25rem;
    margin-right: .5rem;
    filter: none;
}
.grid_item_button {
    background: none;
    outline: none; border: none;
    cursor: pointer;
    background-color: #fff;
    color: var(--clr_dark);
    box-shadow: var(--box_shadow_primary);
    transition: transform 50ms ease-in;
}
.grid_item_button:active {
    transform: translateY(0.125rem);
}
[data-theme="dark"] .grid_item_button {
    background-color: var(--clr_grey_shade_a);
    color: var(--clr_light);
}