.form_wrapper {
    width: 100%;
    max-width: min(100%, 40em);
}
.form_wrapper input {
    
}
.action_section {
    display: flex;
    margin: 1.25rem 0;
}
.messages_section {
    display: flex; flex-direction: column; align-items: flex-start;
}

.account_details_container {
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.account_details_container h5 {
    max-width: fit-content;
    padding:.5rem 0;
    margin-bottom: .5rem;
    border-bottom: 1px solid var(--clr_grey_shade_a);
    border-color: var(--clr_grey_shade_d);
}
[data-theme="dark"] .account_details_container h5 {
    border-color: var(--clr_grey_shade_a);
}
.account_details_container p {
    font-size: var(--type_scale_2);
}